body {
    background-color: rgb(205, 253, 133);
}

table {
    margin-left: auto;
    margin-right: auto;
    margin-top: 25%;
}

td {
    color: rgb(255, 0, 0);
    font-weight: bold;
    font-size: 35px;
}